
header{
  background: #45484e;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 15%;
  color: red;
  height:70px;
  font-size: 18px;
  line-height: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

a { 
  text-decoration: none; 
 }

p{
  font-size: 16px;
  color:rgb(122, 118, 118);
}

.error{
  padding-top: 60px;
}

.text1{
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  width: 450px;
}

h1{
  font-size: 60px;
  color: black;
}

.center{
  margin-left: 25%;
  height:400px;
  
}

.button{
  font-size:15px;
  background: red;
  border:2px solid rgb(187, 0, 0);
  height:35px;
  border-radius: 8px;
}
.button:hover {
  background: #45484e; 
} 
a.change-color:hover{
  color: red;
}

a.change-color{
 color: black;
}

footer{
  background: #45484e;
  height:337px;
}

.footerContent{
  margin: 0 10% 0 10%;
}

.footerContent a{
  color:#aaabaf;
}

.link{
  border-bottom:1px solid rgb(143, 143, 143);
}

.links{
  padding-top: 40px;
  color:#aaabaf;
  display: block;
  padding-bottom: 15px;
}

ul.l1 {
  margin: 0; 
  padding: 4px; 
 }
 ul.l1 li {
  display: inline; 
  margin-right: 15px;
 }

 ul.footerText {
  margin: 0; 
  padding: 4px; 
 }
 ul.footerText li {
  display: inline; 
  margin-right: 15px;
 }

.hideInfo{
  margin-left: 10%;
}

.footerText{
  padding-top: 15px;
  color:#aaabaf;
  width: 1000px;
}


