
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000000;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

a { 
  text-decoration: none; 
}

header{
  background: #45484e;
  flex-grow: 0;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 15%;
  color: red;
  height:70px;
  font-size: 18px;
  line-height: 20px;
}

main{
  display: flex;
  flex-grow: 1;
  padding-bottom: 30px;
}

p{
  font-size: 16px;
  color:rgb(122, 118, 118);
}

.error{
  padding-top: 60px;
}

.text1{
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  max-width: 50%;
}

h1{
  font-size: 60px;
  color: black;
}

.center{
  margin-left: 25%;
}

.button{
  font-size:15px;
  background: red;
  border:2px solid rgb(187, 0, 0);
  height:35px;
  border-radius: 8px;
}
.button:hover {
  background: #45484e; 
} 
a.change-color:hover{
  color: red;
}

a.change-color{
 color: black;
}

footer{
  flex-grow: 0;
  background: #45484e;
  padding-bottom: 50px;
}

.footerContent{
  margin: 0 10% 0 10%;
}

.footerContent a{
  color:#aaabaf;
}


.links{
  border-bottom:1px solid rgb(143, 143, 143);
  padding-top: 40px;
  color:#aaabaf;
  display: block;
  padding-bottom: 15px;
}

ul.l1 {
  margin: 0; 
  padding: 4px; 
 }
 ul.l1 li {
  display: inline; 
  margin-right: 15px;
 }

 .footerText {
  display: flex;
  flex-wrap: nowrap;
  color:#aaabaf;
 }

 ul.footerText {
  margin: 0; 
  padding: 4px; 
 }
 ul.footerText li {
  display: block; 
  min-width: 100px;
 }

.footerText{
  padding-top: 15px;
  color:#aaabaf;
}

