
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000000;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}



a { 
  text-decoration: none; 
}

header{
  background: #45484e;
  flex-grow: 0;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 15%;
  color: red;
  height:70px;
  font-size: 18px;
  line-height: 20px;
}

.logo span{
  padding-left: 20px;
}

main{
  display: flex;
  flex-grow: 1;
  padding-bottom: 30px;
}

p{
  font-size: 16px;
  color:rgb(122, 118, 118);
}

.error{
  padding-top: 60px;
}

.text1{
  padding-bottom: 25px;
  /* display: flex;
  align-items: center; */
  max-width: 50%;
}

h1{
  font-size: 60px;
  color: black;
}

.center{
  /* margin-left: 25%;  */
  margin: auto;
  width: 60%;
}

.button{
  display: block;
  font-size:15px;
  line-height: 35px;
  text-align: center;
  background: red;
  color: black;
  border:2px solid rgb(187, 0, 0);
  height: 35px;
  width: 200px;
  border-radius: 8px;
}
.button:hover {
  background: #45484e; 
  color: red;
} 

footer{
  flex-grow: 0;
  background: #45484e;
  height: 300px;
  padding-bottom: 50px;
}

.footerContent{
  margin: 0 10% 0 10%;
}

.footerContent a{
  color:#aaabaf;
}


.links{
  border-bottom:1px solid rgb(143, 143, 143);
  padding-top: 40px;
  color:#aaabaf;
  display: block;
  padding-bottom: 15px;
}

.l1 {
  margin: 0; 
  padding: 4px; 
  display: flex;
 }
.l1 li {
  display: inline; 
  margin-right: 15px;
 }
 .l1 li a {
  display: flex;
  align-items: center;
}

 .footerText {
  display: flex;
  flex-wrap: nowrap;
  color:#aaabaf;
 }
 .fa-external-link{
  padding-left: 5px;
 }

.footerText{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
  color:#aaabaf;
  margin: 0; 
  padding: 4px; 
}

#hide i{
  padding-right: 5px;
}

.footerText div:first-child{
  width: 90%;
    
}

.visible{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.footerText p {
  color:#aaabaf;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  text-align: right;
}

.footerText .hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 1s linear;
}